@font-face {
   font-family: "Symbol";
   src: url(font/Symbol.woff2);
}
@font-face {
   font-family: "RobotoFlex";
   src: url(font/RobotoFlex.ttf);
}
@font-face {
   font-family: "RobotoMono";
   src: url(font/RobotoMono.ttf);
}
@font-face {
   font-family: "Vazirmatn";
   src: url(font/Vazirmatn.ttf);
}
// Default 
* {
   font-family: "RobotoFlex", "Vazirmatn";
   box-sizing: border-box;
   user-select: none;
   -webkit-tap-highlight-color: #0000;
   accent-color: var(--primary);
   scroll-behavior: smooth;
}
.symbol {
   font-family: "Symbol";
   font-weight: normal;
   font-style: normal;
   line-height: 1;
   letter-spacing: normal;
   text-transform: none;
   white-space: nowrap;
   word-wrap: normal;
   direction: ltr;
   vertical-align: middle;
   -webkit-font-feature-settings: 'liga';
   -webkit-font-smoothing: antialiased;
   font-variation-settings:
      'FILL' 0,
      'wght' 500,
      'GRAD' 0,
      'opsz' 48;
   font-size: 1.5em;
}
.fab,.fas {
   font-size: 1.5em;
}
:focus-visible {
   outline: 2px solid var(--primary);
   outline-offset: -2px;
   border: none;
}
::selection {
   background: var(--primary);
   color: var(--on-primary);
}
::-webkit-scrollbar {
   background: none;
   width: 10px;
   height: 10px;
}
::-webkit-scrollbar-thumb {
   background: linear-gradient(45deg,var(--primary),var(--primary-container)) padding-box;
   cursor: pointer;
   border-radius: 10px;
   border: 3px solid transparent;
}
::-webkit-scrollbar-button {
   display: none;
}
::-webkit-scrollbar-corner {
   display: none;
}
// Layout
html{
   scroll-behavior: smooth;
}
body{
   width: 100vw;
   height: 100vh;
   padding: 0;
   margin: 0;
   background: var(--background);
   color: var(--on-background);
}
header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 70px;
   background: var(--surface-container);
   color: var(--on-surface-container);
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
   gap: 10px;
   z-index: 5;
   transition: 0.3s;
   &>div {
      align-items: center;
      font-size: 32px;
      &.title {
         font-weight: 600;
      }
      &.symbol {
         aspect-ratio: 1;
         height: 100%;
         display: flex;
         flex-flow: row nowrap;
         justify-content: center;
         border-radius: 30px;
         font-size: 2em;
         cursor: pointer;
         transition: 0.3s;
         &:hover {
            font-variation-settings:
               'FILL' 1,
               'wght' 900,
               'GRAD' 0,
               'opsz' 48;
         }
      }
   }
}
menu-backdrop{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: block;
   margin: 0;
   padding: 0;
   opacity: 0;
   z-index: -1;
   background: var(--glass);
   backdrop-filter: blur(30px);
   transition: 0.5s;
   &.show{
      opacity: 1;
      z-index: 11;
   }
}
menu{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: block;
   margin: 0;
   padding: 0;
   opacity: 0;
   z-index: -1;
   overflow: hidden auto;
   transition: 0.5s;
   &.show{
      opacity: 1;
      z-index: 12;
      menu-body{
         h2{
            animation: up 0.5s both;
         }
         li {
            animation: left 0.5s var(--delay) both;
         }
         hr{
            animation: up 0.5s 1s both;
         }
         hr+div{
            animation: up 0.5s 1.2s both;
         }
      }
   }
   menu-header{
      width: 100%;
      height: 70px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      gap: 10px;
      z-index: 13;
      transition: 0.3s;
      color: var(--on-surface-container);
      border-bottom: 3px dashed var(--glass-container);
      .title{
         align-items: center;
         font-weight: 800;
         font-size: 32px;
      }
      .key{
         aspect-ratio: 1;
         height: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
         border-radius: 30px;
         cursor: pointer;
         font-size: 2em;
         transition: 0.3s;
         &:hover {
            font-variation-settings:
               'FILL' 1,
               'wght' 900,
               'GRAD' 0,
               'opsz' 48;
         }
      }
   }
   menu-body{
      display: block;
      padding: 10px;
      color: var(--on-surface-container);
      h2{
         padding-right: 40px;
      }
      ul{
         display: flex;
         flex-flow: row wrap;
         justify-content: start;
         align-items: stretch;
         gap: 10px;
         padding: 10px;
         li{
            flex: 1 1 200px;
            background: var(--glass-container);
            color: var(--on-surface-container);
            height: 50px;
            border-radius: 10px;
            list-style: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            cursor: pointer;
            transition: 0.3s;
            &:hover{
               background: var(--primary);
               color: var(--on-primary);
            }
         }
      }
      hr{
         border: none;
         background: none;
         height: 0;
         border-bottom: 3px dashed var(--glass-container);
      }
      hr+div{
         padding: 10px;
      }
   }
}
main {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   overflow: hidden;
}
page {
   padding: 10px 10px 40px 10px;
   display: none;
   position: fixed;
   top: 70px;
   left: 0;
   width: 100%;
   height: calc(100% - 150px);
   opacity: 0;
   overflow: hidden auto;
   &.show {
      display: block;
      animation: show 0.4s both;
   }
}
tabbar {
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 80px;
   background: var(--surface-container);
   color: var(--on-surface-container);
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   align-items: stretch;
   z-index: 5;
   transition: 0.3s;
   tab {
      flex: 0 0 20%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      padding: 10px;
      gap: 10px;
      font-size: 16px;

      .symbol {
         font-size: 1.8em;
         position: relative;
         top: 0;
         z-index: 7;
         transition: 0.3s;
      }

      .label {
         position: absolute;
         bottom: -25px;
         font-size: 18px;
         color: var(--primary);
         font-weight: 800;
         z-index: 6;
         text-shadow: 0 0 0 var(--primary);
         transition: 0.3s;
      }

      &.on {
         .symbol {
            font-variation-settings:
               'FILL' 1,
               'wght' 500,
               'GRAD' 0,
               'opsz' 48;
            font-size: 2.2em;
            color: var(--on-primary);
            top: -25px;
         }

         .label {
            bottom: 5px;
            text-shadow: 0 0 15px var(--primary);
         }
      }
   }
   &>.tabon {
      position: absolute;
      top: -15px;
      left: 50%;
      width: 60px;
      height: 60px;
      transform: translate(-50%, 0);
      background: linear-gradient(45deg, var(--primary), var(--primary-container));
      border-radius: 30px;
      transition: 0.3s;
      z-index: 6;
   }
   &>.wave {
      position: absolute;
      top: -40px;
      left: 50%;
      width: 120px;
      height: 120px;
      transform: translate(-50%, 0);
      background: var(--surface-container);
      clip-path: path('M 0,40 C 30,40 30,10 60,10 C 90,10 90,40 120,40 z');
      transition: 0.3s;
      z-index: 5;
   }
}
footer{
   margin-top: 20px;
   background: var(--surface);
   color: var(--on-surface);
   border-radius: 20px;
   display: flex;
   flex-flow: column wrap;
   justify-content: space-between;
   align-items: stretch;
   padding: 10px;
   transition: 0.3s;
   &>div{
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      gap: 10px;
      svg {
         width: 50px;
      }
      &.leafweb{
         justify-content: center;
      }
      &.contact-us{
         ul{
            width: 100%;
            height: 60px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            gap: 10;
            border-radius: 20px;
            background: var(--surface-container-low);
            transition: 0.3s;
            li{
               cursor: pointer;
               display: flex;
               justify-content: center;
               align-items: center;
               border-radius: 10px;
               aspect-ratio: 1;
               height: 100%;
               background: var(--surface-container-high);
               color: var(--on-surface-container-high);
               transition: 0.3s;
               &:hover{
                  transform: scale(1.2);
                  background: linear-gradient(45deg,var(--primary),var(--primary-container));
                  color: var(--on-primary);
               }
            }
         }
      }
   }
}
// Page
page[name="p-home"]{
   .start{
      margin: 10px;
      padding: 20px;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: stretch;
      text-align: center;
      gap: 20px;
      &>div{
         flex: 1 0 300px;
         display: flex;
         flex-flow: column nowrap;
         justify-content: center;
         align-items: stretch;
         padding: 10px;
         gap: 20px;
         &>div{
            background: var(--surface-container-low);
            color: var(--primary);
            height: 70px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            border-radius: 20px;
            font-size: 20px;
            transition: 0.3s;
            .symbol{
               display: block;
               aspect-ratio: 1;
               height: 100%;
               background: linear-gradient(45deg,var(--primary),var(--primary-container));
               color: var(--on-primary);
               border-radius: 10px;
               display: flex;
               justify-content: center;
               align-items: center;
               box-shadow: 0 0 30px -10px var(--primary);
               transition: 0.3s;
            }
         }
      }
      h2{
         padding: 0;
         margin: 0;
      }
   }
}
page[name="p-palette"]{
   .input-colors{
      display: flex;
      flex-flow: column nowrap;
      justify-content: start;
      align-items: stretch;
      border-radius: 30px;
      overflow: hidden;
      gap: 10px;
      direction: ltr;
      *{
         font-family: 'RobotoMono';
         font-weight: 500;
      }
      #input-color{
         background: var(--primary);
         color: var(--on-primary);
         height: 50px;
         font-size: 24px;
         border-radius: 5px;
         display: flex;
         justify-content: center;
         align-items: center;
      }
      #input-custom-color{
         display: flex;
         flex-flow: row wrap;
         justify-content: center;
         align-items: center;
         gap: 10px;
         &>div{
            flex-grow: 1;
            border-radius: 5px;
            height: 50px;
            font-size: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
         }
      }
   }
   #main-palette{
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      padding: 20px;
      direction: ltr;
      &>div{
         flex: 1 0 140px;
         max-width: 140px;
      }
      .color{
         aspect-ratio: 1;
         width: 100%;
         border-radius: 20px;
         transition: 0.3s;
         &:hover{
            box-shadow: 0 0 10px #0005;
         }
      }
      .label{
         text-align: center;
         font-size: 18px;
         font-weight: 500;
         padding: 10px;
         user-select: all;
         font-family: "RobotoMono";
      }
   }
   #other-palette{
      direction: ltr;
      padding: 0;
      overflow: hidden;
      &>div{
         height: 70px;
         display: flex;
         flex-flow: row-reverse nowrap;
         justify-content: space-between;
         align-items: center;
         gap: 10px;
         padding: 10px;
         &:hover>div.color{
            transform: scale(1.1);
            box-shadow: 0 0 10px #0005;
         }
         &>div{
            &.color{
               aspect-ratio: 1/1;
               border-radius: 20px;
               height: 100%;
               transition: 0.3s;
            }
            &.label{
               text-align: center;
               font-size: 18px;
               font-weight: 500;
               padding: 10px;
               user-select: all;
            }
         }
      }
   }
}
page[name="p-brush"]{
   button{
      margin: 0;
      border-radius: 20px;
   }
   input{
      direction: ltr;
   }
   padding: 20px;
   #hsl{
      &>div{
         display: flex;
         flex-flow: row nowrap;
         justify-content: space-between;
         align-items: center;
         gap: 10px;
         direction: ltr;
         &>.range{
            flex-grow: 1;
         }
         &>.label{
            background: var(--surface-container);
            padding: 5px;
            border-radius: 10px;
            width: 60px;
            text-align: center;            
         }
      }
   }
   #custom-color{
      direction: ltr;
      display: flex;
      flex-flow: column nowrap;
      justify-content: start;
      align-items: stretch;
      &>div{
         direction: ltr;
         display: flex;
         flex-flow: column nowrap;
         justify-content: start;
         align-items: stretch;
         &>div{
            animation: left 0.3s both;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            height: 50px;
            border-radius: 20px;
            gap: 10px;
            padding: 5px;
         }
      }
      button{
         margin: 5px;
         height: 40px;
         transition: 0.3s;
      }
   }
   #color-scheme{
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      &>div{
         flex: 1 0 300px;
      }
      div:nth-child(1){
         text-align: center;
      }
      svg{
         width: 100%;
         max-width: 300px;
         filter: drop-shadow(5px 10px 5px #0004);
         path{
            filter: none;
         }
         g{
            transition: 0.3s;
         }
      }
   }
}
// UI
card{
   display: block;
   padding: 10px;
   background: var(--surface);
   color: var(--on-surface);
   border-radius: 30px;
   transition: 0.3s;
}
.p {
   background: -webkit-linear-gradient(135deg,var(--primary),var(--primary-container));
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   font-weight: 600;
}
.c{text-align: center}
.tag {
   aspect-ratio: 1/1;
   background: linear-gradient(45deg,var(--primary),var(--primary-container));
   color: var(--on-primary);
   border-radius: 10px;
   padding: 5px;
   margin-inline: 10px;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   transition: 0.3s;
   font-size: 1.2em;
}
.tag-c {
   .tag;
   background: linear-gradient(45deg,var(--primary-container),var(--surface));
   color: var(--on-primary-container);
}
.tag-e {
   .tag;
   background: linear-gradient(45deg, var(--error), var(--error-container));
   color: var(--on-error);
}
toast{
   position: fixed;
   bottom: 130px;
   left: 50%;
   z-index: 99;
   transform: translateX(-50%);
   display: block;
   background: var(--primary);
   color: var(--on-primary);
   box-shadow: 0 0 30px -5px var(--primary);
   padding: 10px 20px;
   font-size: 16px;
   border-radius: 10px;
}
a {
   all: unset;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   border-bottom: 2px solid var(--primary);
   color: var(--primary);
   padding-inline: 5px;
   height: 1.5em;
   border-radius: 5px 5px 0 0;
   font-weight: 800;
   font-size: 14px;
   margin-inline: 2px;
   transition: 0.3s;
   vertical-align: middle;
   cursor: pointer;
}
hr{
   display: block;
   height: 0;
   border: none;
   border-bottom: 3px solid var(--surface);
   margin: 10px 0 10px 0;
}
button,.btn{
   display: inline-flex;
   flex-flow: row wrap;
   justify-content: center;
   align-items: center;
   padding: 5px 10px;
   gap: 10px;
   background: linear-gradient(45deg,var(--primary),var(--primary-container));
   color: var(--on-primary);
   outline: none;
   box-shadow: 0 0 0 #0000;
   border: none;
   border-radius: 10px;
   min-height: 40px;
   font-size: 16px;
   transition: 0.3s;
   margin: 5px;
   cursor: pointer;
   box-sizing: border-box;
   font-weight: 600;
   &.small{
      min-height: 30px;
      font-size: 14px;
   }
   &.big{
      min-height: 50px;
      font-size: 20px;
   }
   &.full{
      display: flex;
      width: 100%;
      margin: 10px 0;
   }
   &.text{
      background: none;
      color: var(--primary);
   }
   &.outline{
      background: none;
      outline: 2px solid var(--outline);
      color: var(--primary);
      &>ripple{
         background: var(--outline)!important;
      }
   }
   &.tonal{
      background: var(--primary-container);
      color: var(--on-primary-container);
   }
   &.error{
      background: var(--error);
      color: var(--on-error);
   }
   &.error.tonal{
      background: var(--error-container);
      color: var(--on-error-container);
   }
}
input{
   display: block;
   height: calc(16px + 25px);
   border: 2px solid var(--surface-variant);
   outline: none;
   box-shadow: none;
   border-radius: 20px;
   background: var(--surface);
   color: var(--on-surface);
   font-size: calc(16px + 2px);
   box-sizing: border-box;
   width: 100%;
   padding: 5px 10px;
   transition: 0.3s;
   text-align: center;
   &:placeholder{
      color: var(--on-surface);
      opacity: 0.5;
   }
   &:focus{
      outline: none;
      border: 2px solid var(--primary);
      background: var(--surface-variant);
   }
   &.error{
      color: var(--error);
      background: var(--error-container);
      border-color: var(--error);
   }
   &[type="radio"]{
      -webkit-appearance: none;
      vertical-align: middle;
      position: relative;
      display: inline-block;
      width: calc(16px + 13px);
      height: calc(16px + 13px);
      background: none;
      outline: none;
      margin: 5px;
      border: 2px solid currentColor;
      border-radius: calc(20px - 2px);
      box-sizing: border-box;
      transition: border 0.3s;
      &::before {
         content: "";
         display: block;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 0;
         height: 0;
         transition: 0.3s;
         background: var(--primary);
         border-radius: calc(20px - 6px);
      }
      &:checked {
         border-color: var(--primary);
      }
      &:checked::before {
         width: calc(16px + 3px);
         height: calc(16px + 3px);
         background: var(--primary);
         color: var(--on-primary);
      }
   }
   &[type="checkbox"] {
      -webkit-appearance: none;
      vertical-align: middle;
      position: relative;
      display: inline-block;
      width: calc(16px + 33px);
      height: calc(16px + 13px);
      outline: none;
      margin: 5px;
      padding: 0;
      border: 2px solid currentColor;
      border-radius: calc(20px - 2px);
      box-sizing: border-box;
      box-sizing: border-box;
      transition: 0.3s;
      transition-property: background, border;
      background: #0000;
      &::before {
         content: "";
         display: inline-block;
         position: absolute;
         top: 50%;
         left: 4px;
         transform: translate(0, -50%);
         width: calc(16px + 1px);
         height: calc(16px + 1px);
         transition: 0.3s;
         background: currentColor;
         border-radius: calc(20px - 6px);
      }
      &:checked {
         background: var(--primary);
         border-color: var(--primary);
      }
      &:checked::before {
         left: calc(100% - calc(16px + 8px));
         width: calc(16px + 7px);
         height: calc(16px + 7px);
         background: var(--on-primary);
         border-radius: calc(20px - 4px);
      }
   }
   &[type="range"] {
      direction: ltr;
      -webkit-appearance: none;
      display: inline-block;
      width: 100%;
      height: calc(16px + 13px);
      background: none;
      outline: none;
      margin: 5px 0;
      padding: 0;
      box-sizing: border-box;
      border: none;
      &::-webkit-slider-runnable-track {
         background: var(--surface-variant);
         border-radius: calc(20px - 2px);
         width: 100%;
         height: calc(16px + 13px);
         box-sizing: border-box;
         overflow: hidden;
      }
      &::-webkit-slider-thumb {
         -webkit-appearance: none;
         appearance: none;
         width: calc(16px + 13px);
         height: calc(16px + 13px);
         border-radius: calc(20px - 2px);
         box-sizing: border-box;
         background: var(--on-primary);
         border: 3px solid var(--primary);
         cursor: pointer;
         position: relative;
         box-shadow: -100vw 0 0 calc(100vw - calc(calc(16px + 13px) / 2)) var(--primary);
      }
   }
}
pre {
   background: var(--surface);
   color: var(--on-surface);
   border-radius: 20px;
   padding: 10px;
   padding-top: 50px;
   direction: ltr;
   position: relative;
   overflow: hidden;
   *{
      font-family: "RobotoMono";
      user-select: initial;
   }
   &::after,.copy{
      display: inline-flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      padding-inline: 10px;
      position: absolute!important;
      top: 10px;
      background: linear-gradient(45deg,var(--primary),var(--primary-container));
      color: var(--primary-90);
      text-transform: uppercase;
      user-select: none;
      border-radius: 10px;
      font-size: 16px;
      font-weight: 800;
      box-shadow: 0 0 20px -8px var(--primary-50);
   }
   &::after{
      left: 10px;
      content: attr(lang);
      font-family: "RobotoMono";
   }
   .copy{
      right: 10px;
      font-family: "Symbol";
      font-variation-settings:
      'FILL' 0,
      'wght' 500,
      'GRAD' 0,
      'opsz' 48;
      font-size: 1.5em;
      cursor: pointer;
      transition: 0.3s;
      &:active{
         transform: scale(0.9);
      }
   }
   code{
      display: block;
      max-height: 300px;
      overflow: auto;
      background: var(--neutral-0);
      color: var(--neutral-80);
      border-radius: 10px;
      padding: 10px;
   }
   ::-webkit-scrollbar {
      background: none;
      width: 20px;
      height: 20px;
   }
   ::-webkit-scrollbar-thumb {
      background: linear-gradient(45deg,var(--primary-70),var(--primary-50)) padding-box;
      border: 8px solid transparent;
   }
}
mark {
   display: inline-flex;
   justify-content: center;
   align-items: center;
   background: linear-gradient(45deg,var(--surface-container-high),var(--surface));
   color: var(--on-surface-container);
   padding-inline: 8px;
   height: 1.6em;
   border-radius: 5px;
   font-weight: bold;
   font-size: 14px;
   margin-inline: 2px;
   transition: 0.3s;
   vertical-align: middle;
}
.panel{
   background: linear-gradient(45deg,var(--primary-container),var(--surface-variant));
   color: var(--on-primary-container);
   border-radius: 10px;
   padding: 10px;
   border-right: 10px solid var(--primary);
}
.display{
   margin: 0;
   padding: 10px;
   display: block;
   font-weight: 900;
   font-size: 40px;
   .p{
      font-weight: 900;
   }
}
.list{
   display: flex;
   flex-flow: column nowrap;
   justify-content: start;
   align-items: stretch;
   gap: 10px;
   label{
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      height: 50px;
      padding: 10px;
      border-radius: 20px;
   }
}
/* animation */
@keyframes show {
   from {
      transform: translateY(100px);
      opacity: 0;
   }
   to {
      transform: translateY(0);
      opacity: 1;
   }
}
@keyframes left {
   from {
      transform: translateX(100px)scale(1.1);
      opacity: 0;
   }
   to {
      transform: translateX(0)scale(1);
      opacity: 1;
   }
}
@keyframes up {
   from {
      transform: translateY(100px)scale(1.1);
      opacity: 0;
   }
   to {
      transform: translateY(0)scale(1);
      opacity: 1;
   }
}